@font-face {
    font-family: "DynaPuff";
    src: url(../fonts/DynaPuff-VariableFont_wdth,wght.ttf);
}

body {
    width: 90vw;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.claseMain {
    margin: 2rem;
}

img {
    height: 140px;
    width: 209px;
}

.imglrg {
    height: auto;
}
.imgpls {
    width: 90%;
    height: auto;
}

.patitos {
    background-color: lightgray;
    color: gray;
    font-family: DynaPuff; 
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

/* Celulares --> Maximo 640px */
@media only screen and (max-width : 640px) {
    .div-form {
        border: 2px solid blue;
        border-radius: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: medium;
        margin: 10px auto;
        padding: 0px 10px;
        text-align: left;
        width: 300px;
    }
}

/* tablet --> entre 640 y 1024 */
@media only screen and (min-width : 640px) and (max-width: 1024px) {
    .div-form {
        border: 2px solid blue;
        border-radius: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: large;
        margin: 10px auto;
        padding: 0px 10px;
        text-align: left;
        width: 400px;
    }
}
    
/* pantalla grande --> como minimo 1024 px */
@media only screen and (min-width : 1024px) {
    .div-form {
        border: 2px solid blue;
        border-radius: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: large;
        margin: 10px auto;
        padding: 0px 10px;
        text-align: left;
        width: 500px;
    }
}
