@font-face {
    font-family: "DynaPuff";
    src: url(../fonts/DynaPuff-VariableFont_wdth,wght.ttf);
}

*{margin:0; padding:0; box-sizing:border-box; }  

html{
    font-size: 62.5%;
}

div{
    text-align: center;
    margin-left: 1rem;
}

header {
    background-color: lightskyblue;
}

.divheader {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: center;
    width: 100vw;
}

h1{
    font-family: 'DynaPuff', cursive;
    font-size: xx-large;
}

h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    margin-left: 2rem;
    text-align: center;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    margin-bottom: 20px;
    text-align: center;
}

nav a{
      text-decoration:none;
      color:inherit;
      font-family: 'DynaPuff', cursive;
      font-size: medium;
}
            
nav li{
      display:inline-block;
      width:15rem;
      height:3rem;
      padding: 0.5rem 1rem;
      background-color: rgb(52, 155, 219);
      text-align:center;
      color: white  ;
      position:relative;
}
            
nav li:hover{
    color:#000;
}
            
.resumen{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    width: 400%;
    text-align: left;
    float: left;
}

.txtFooter{
    color: blue;
    margin-right: 3rem;
}

img {
    width: 209px;
    height: 140px;
}

.imglrg {
    width: 300px;
    height: auto;
}

.imgpls {
    width: 40vw;
    height: auto;
    /* margin-top: 100px; */
}

input[type=submit] {
    background-color: rgb(52, 155, 219);
    width: 90%;
    font-size: large;
    border-radius: 50px;
}

input[type=text], [type=email] {
    width: 60%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
  
.flex-item {
    width: 45%;
}

.grid-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.grid-container > a {
    margin-right: 1rem;
}

div textarea {
    box-sizing: border-box;
    max-width: 95%;
}

/* Celulares --> Maximo 640px */
@media only screen and (max-width : 640px) {
    footer {
        display: grid;
        width: 100vw;
        color: white;
        font-size: medium;
        background-color: skyblue;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    .div-form {
        text-align: left;
        margin: 10px auto;
        font-size: large;
        width: 300px;
        background-color: white;
        border: 2px solid blue;
        padding: 0px 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: large;
        background-color: white;
    }

}

/* tablet --> entre 640 y 1024 */
@media only screen and (min-width : 640px) and (max-width: 1024px) {
    footer {
        display: grid;
        width: 100vw;
        color: white;
        font-size: medium;
        background-color: skyblue;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    .div-form {
        text-align: left;
        margin: 10px auto;
        font-size: large;
        width: 400px;
        background-color: white;
        border: 2px solid blue;
        padding: 0px 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: large;
        background-color: white;
    }

}
    
/* pantalla grande --> como minimo 1024 px */
@media only screen and (min-width : 1024px) {

    footer {
        display: grid;
        width: 100vw;
        color: white;
        font-size: medium;
        background-color: skyblue;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    .div-form {
        text-align: left;
        margin: 10px auto;
        font-size: large;
        width: 500px;
        background-color: white;
        border: 2px solid blue;
        padding: 0px 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: large;
        background-color: white;
    }

}

